.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  padding: 50px;
  background-color:lavender;
  background-color: lavender;
  background-image: linear-gradient(
45deg
, #fff815, #72ff5c73);
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
}